/*
    You can add your own custom styles here.
*/

// /* 縮小右側欄寬度 */
// .container.extended {
//     @media (min-width: 768px) {
//         // --right-sidebar-max-width: 30%;
//         --right-sidebar-max-width: 25%;
//     }
//     @media (min-width: 1024px) {
//         // --right-sidebar-max-width: 30%;
//         --right-sidebar-max-width: 22%;
//     }
//     @media (min-width: 1280px) {
//         // --right-sidebar-max-width: 25%;
//         --right-sidebar-max-width: 18%;
//     }
// }